.demo-layout-transparent {
    background: url('') center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: #CAD1EC;
}

.mello {
    width: 25vw;
    max-width: 10em;
}

.prime_text {
    display: inline;
    font-size: 5vh;
    font-family: 'Special Elite', cursive;
}

.question {
    position: absolute;
    left: 10vw;
    right: 10vw;
    top: 10vh;
    text-align: center;
}

.invert {
    display: inline-block;
    background-color: #5F8995;
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
}

.title_font {
    font-family: 'Righteous', cursive;
}

.title_logo {
    height: 1.5em;
}

.primary_color {
    color: #5F8995;
}

.pitch {
    display: block;
    text-align: center;
    background-color: #5F8995;
    padding: 1em;
    margin-top: 35vh;
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.24);
}

.note {
    font-size: 4vh;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    line-height: 1.2em;
}

.argument {
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
    color: #CAD1EC;
    line-height: 1.2em;
}

.card {
    border-width: 0px;
    padding: 1em;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.start_btn {
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.copyright {
    display: inline;
    color: #fff;
}

.foot {
    display: inline;
    text-align: center;
}

@media (orientation: landscape) {
    .pitch {
        margin-top: 30vh;
    }

    .prime_text {
        font-size: 5vw;
    }

    .note {
        font-size: 4vw;
    }

    .argument {
        font-size: 3vw;
    }
}
