.title_logo {
    height: 1.5em;
}

.title_font {
    font-family: 'Righteous', cursive;
}

.primary_color {
    color: #5F8995;
}

.demo-layout-transparent {
    background: url('') center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: #CAD1EC;
}
